<div class="nav">
  <div class="nav-item">
    <h2>( expensable )</h2>
    <ul>
      <li>
        <i class="fa-solid fa-house-chimney-window"></i>
        <a href="#" target="_blank">Categories</a>
      </li>
      <li>
        <i class="fa-regular fa-rectangle-list"></i>
        <a href="#" target="_blank">Transactions</a>
      </li>
      <li>
        <i class="fa-solid fa-circle-nodes"></i>
        <a href="#" target="_blank">Budgets</a>
      </li>
    </ul>
  </div>
  <div class="nav-item">
    <p class="nav-item--info">Testing de Prueba</p>
    <p class="nav-item--email">lestino@mail.com</p>
    <p class="nav-item--info">Log Out</p>
  </div>
</div>
