<div class="container">
  <h1>Categories</h1>
  <nav class="nav">
    <div (click)="handleClickTab($event, tabItem.alias)" *ngFor="let tabItem of tabs" class="nav-item" [ngClass]="tabActive === tabItem.alias ? 'nav-item--active' : ''">
      <div class="nav-icon">{{tabItem.icon}}</div>
      <p>{{ tabItem.name }}</p>
    </div>
  </nav>

  <div *ngIf="tabActive === 'expenses'">
    <div class="header">
      <div class="carrusel">
        <div class="icon-header">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="text-header">
          <p>March 2022</p>
        </div>
        <div class="icon-header">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
      <div class="prise">
        <p class="precio">$ 1,250</p>
        <p>Total Expenses</p>
      </div>
    </div>
    <div class="button-cont">
      <app-button
        [icon]="'fa-solid fa-building-columns'"
        [textSalario]="'Rent'"
        [money]="500"
        [color]="'#808080'"
      ></app-button>
      <app-button
        [icon]="'fa-solid fa-cart-shopping'"
        [textSalario]="'Groceries'"
        [money]="100"
        [color]="color"
      ></app-button>
      <app-button
        [icon]="'fa-solid fa-car'"
        [textSalario]="'Transport'"
        [money]="150"
        [color]="'#F97315'"
      ></app-button>
      <app-button
        [icon]="'fa-solid fa-laptop-medical'"
        [textSalario]="'Health'"
        [money]="200"
        [color]="'#F43F5E'"
      ></app-button>
      <app-button
        [icon]="'fa-solid fa-gift'"
        [textSalario]="'Gifts'"
        [money]="50"
        [color]="'#8B5CF6'"
      ></app-button>
      <app-button
        [icon]="'fa-solid fa-chalkboard'"
        [textSalario]="'Education'"
        [money]="250"
        [color]="'#0EA5E9'"
      ></app-button>
      <div class="add-button" (click)="handleClickAddCategory()">
        <i class="fa-solid fa-plus"></i>
      </div>
      <app-add-new-categories [display]="isOpenModal" [handleClickOutput]="handleClickOutput()"></app-add-new-categories>
    </div>
  </div>
</div>
