<div class="container">
  <h1>Categories</h1>
  <nav class="nav">
    <div class="nav-item">
      <div class="nav-icon"><i class="fa-solid fa-minus"></i></div>
      <p>Expenses</p>
    </div>
    <div class="nav-item">
      <div class="nav-icon"><i class="fa-solid fa-plus"></i></div>
      <p>Income</p>
    </div>
  </nav>

  <div class="header">
    <div class="carrusel">
      <div class="icon-header">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="text-header">
        <p>March 2022</p>
      </div>
      <div class="icon-header">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
    <div class="prise">
      <p class="precio">$ 1,250</p>
      <p>Total Expenses</p>
    </div>
  </div>
  <div class="button-cont">
    <app-button
      [textSalario]="'Rent'"
      [money]="500"
      [color]="'#808080'"
    ></app-button>
    <app-button
      [textSalario]="'Groceries'"
      [money]="100"
      [color]="color"
    ></app-button>
    <app-button
      [textSalario]="'Transport'"
      [money]="150"
      [color]="'#F97315'"
    ></app-button>
    <app-button
      [textSalario]="'Health'"
      [money]="200"
      [color]="'#F43F5E'"
    ></app-button>
    <app-button
      [textSalario]="'Gifts'"
      [money]="50"
      [color]="'#8B5CF6'"
    ></app-button>
    <app-button
      [textSalario]="'Education'"
      [money]="250"
      [color]="'#0EA5E9'"
    ></app-button>
    <div class="add-button">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
</div>
