<div class="transaction">
  <div class="titulo">
    <h2>Transaction</h2>
    <div><i class="fa-solid fa-filter"></i></div>
  </div>







  <div class="gastos">
    <div *ngFor="let cost of transactions">
      <app-cuentas
        [indice]="cost.date"
        [fecha1]="cost.date"
        [fecha2]="cost.date"
        [cantidad]="cost.total"
      ></app-cuentas>
      <app-ingresos
        *ngFor="let costOne of cost.moves"
        [cantidad]="costOne.mount"
        [name]="costOne.category"
        [icon]="costOne.icon"
        [color]="costOne.color"
      ></app-ingresos>
    </div>

  </div>
</div>
